.headers {
    display: flex;
    text-align: center;
}

.header {
    border: 1px solid lightgrey;
    padding: 15px 20px;
    margin-right: 5px;
    cursor: pointer;
}

.active {
    background-color: black;
    color: white;

}

.content {
    border: 3px solid lightgrey;
    padding: 15px;
}